
@font-face {
  font-family: "Work Sans";
  src: url("/static/WorkSans-Regular.otf");
}

:root {
  --back-color: #1C1B1B;
  --card-color: #232222;
  --white: #E2E1E1;
  --blue: #3D6FD0;
  --font-family: "Work Sans";
  --card: #232222;
  --yellow: #DEBA57;
  --red: #DE5757;
}

.cb {
  background-color: var(--card);
}

body, span, button, textarea {
  color: var(--white);
}

.rb {
  border-radius: 6px;
}

body {
  font-family: var(--font-family);
  margin: 0;
  background-color: var(--back-color);
}

.txt {
  color: var(--white);
}
