
@font-face {
  font-family: 'Foco';
  src: url('./FOCOBOLD.TTF');
}

:root {
  --txt-color: #707070;
  --primary: #F5AE5C;
  --light-gray: #E4E4E4;
}

body {
  font-family: 'Foco';
  margin: 0;
}

body, input, textarea, input, button, a {
  color: var(--txt-color);
}